<ion-view view-title="Your Bookings">
  <ion-content>
    <h3>Your Bookings</h3>
    <ion-list>
      <ion-item class="temp" href="#/app/today">TODAY</ion-item>
      <ion-item ng-repeat="booking in today">
 
            <!-- <ion-list> -->
           <ion-list> 
           <ion-item>
            
            <h4>
            Passanger: {{booking.customer_id}} 
           <!--  Address:   {{booking.arrival_address}}  -->
            </h4>
            
           </ion-item>
           </ion-list> 
           <!--  </ion-list -->
            
            <button id={{booking.id}} 
                    class="button button-block button-positive Start-Trip" 
                    ng-click="startTrip()">
              Start Trip
            </button>
            <button id={{booking.id}} 
                    class="button button-block button-negative End-Trip" 
                    ng-click="endTrip()">
              End Trip
            </button>

            <h3>Current Location: {{booking.lat}}</h3>

<!--             <button id={{booking.lt}} 
                    class="button button-block button-assertive Get-Location" 
                    ng-click="driverLocation()">
              Get Driver Location
            </button> -->
      
      </ion-item>
  </ion-content>
</ion-view>