<ion-view view-title="Your Bookings">
  <ion-content>
    <h3>Your Bookings</h3>
    <ion-list>
      <ion-item ng-repeat="booking in today">
            <h4>Arrive By: {{booking.arrival_date}} Address:{{booking.arrival_address}} </h4>
            <button id={{booking.id}} class="button button-block button-positive Start-Trip" ng-click="startTrip()">
              Start Trip
            </button>
            <button id={{booking.id}} class="button button-block button-negative End-Trip" ng-click="endTrip()">
              End Trip
            </button>
      </ion-item>
  </ion-content>
</ion-view>