<ion-view view-title="calendar">

  <ion-content>
    <h3 ng-click="displayDay()"></h3>
    <!-- <button class="button" ng-click="createEvent()">Create Event</button> -->
<!-- had to add ng-if because when data is passed to a directive(ui-calendar) ONLY takes its value once. 
It does NOT do two-way binding.. "have to wait until we have EventSources" --> 
<div ng-if="eventSources.length !== 0" ui-calendar="calendarOptions.calendar" ng-model="eventSources">

<div class="DailyCal-Count">{{dailyPassengers}}</div>

  </ion-content>
</ion-view>



