<ion-modal-view class="contact-modal">

  <ion-header-bar dark class="bar-dark" id="modal-bar">
    <h4 class="title"></h4>
    <div class="buttons">
      <button class="button button-outline"
              ng-click="closeContactClient()">
              <i class="ion-close-round ionicIcons"></i>
      </button>
    </div>
  </ion-header-bar>

  <ion-content class="has-header">
    <ion-item class="items-bg" id="modalDetails">

    <h4 class="title text-center">CLICK TO CALL</h4>
      <a
        id={{currentCustomer[0].phone}}
        class="button button-small button-clear button-outline button-light"
        ng-href=tel:{{currentCustomer[0].phone}}>
        <i class="ion-iphone current-trip-icons contact-client-iphone"></i>
      </a>

    <h4 class="title text-center">QUICK TEXT</h4>

<!--  <a
        id={{currentCustomer[0].phone}}
          class="button button-small button-clear button-outline button-light"
          ng-click="sendSMS()">
          <i class="ion-android-textsms current-trip-icons "></i>
      </a>  -->
          
      <ion-list  class="title text-center modal-text">

        <div>
          <a 
            class="button button-large button-clear button-outline button-light"
            ng-click="sendSMS()">Your driver is 5 minutes away
            <i class="ion-android-textsms current-trip-icons "></i>
          </a>
        </div>
        
        <div>
          <a

            class="button button-large button-clear button-outline button-light"
            ng-click="sendSMSten()">Your driver is 10 minutes away
            <i class="ion-android-textsms current-trip-icons "></i>
          </a>
        </div>

        <div>
          <a

            class="button button-large button-clear button-outline button-light"
            ng-click="sendSMSarrived()">Your driver has arrived
            <i class="ion-android-textsms current-trip-icons "></i>
          </a>
        </div>        

      </ion-list>
    </ion-item>
  </ion-content>

</ion-modal-view>
