<ion-view view-title="Earnings and Stats">
    <ion-content>

        <ion-item class="item-dates">
            <div class="item-icon-left">
                <a class="icon ion-chevron-left" ng-href="#/app/earnings-stats-month"></a>

                <div class="day-wk-mnt">D A Y</div>
            </div>
            <div class="item-icon-right">
                <a class="icon ion-chevron-right" ng-href="#/app/earnings-stats-week"></a>
            </div>
        </ion-item>


        <br>
        <a class="button-clear button button-full button-light icon icon-right ion-chevron-right" ng-href="#">
            <h5>today</h5>
        </a>
        <br>
        <a class="button-clear button button-full button-light icon icon-right ion-chevron-right" ng-href="#">
            <h5>2016</h5>
        </a>
        <ul class="list drive-stats-list">
            <li class="item">
                <div class="col">
                EARNINGS
                </div>
                <div class="driver-stats-items">$3,000</div>
            </li>
            <li class="item">
                COMPLETED TRIPS
                <div class="driver-stats-items">20</div>
            </li>
            <li class="item">
                CUSTOMER RATING
                <div class="driver-stats-items">4.5</div>
            </li>
        </ul>
    </ion-content>
</ion-view>
