<ion-view view-title="Earnings and Stats">
    <ion-content>

        <ion-item class="item-dates">
            <div class="item-icon-left">
                <a class="icon ion-chevron-left" ng-href="#/app/earnings-stats-day"></a>

                <div class="day-wk-mnt">W E E K</div>
            </div>
            <div class="item-icon-right">
                <a class="icon ion-chevron-right" ng-href="#/app/earnings-stats-month"></a>
            </div>
        </ion-item>
        <br>
        <a class="button-clear button button-full button-light icon icon-right ion-chevron-right" ng-href="#">
            <h5>01/15 - 01/21/16</h5>
        </a>
        <br>
        <a class="button-clear button button-full button-light icon icon-right ion-chevron-right" ng-href="#">
            <h5>2016</h5>
        </a>
        <ul class="list drive-stats-list">
            <li class="item">
                EARNINGS
                <div class="driver-stats-items">$10,500</div>
            </li>
            <li class="item">
                COMPLETED TRIPS
                <div class="driver-stats-items">25</div>
            </li>
            <li class="item">
                CUSTOMER RATING
                <div class="driver-stats-items">4.9</div>
            </li>
        </ul>
    </ion-content>
</ion-view>

