<ion-side-menus enable-menu-with-back-views="false" ng-controller="sideMenuCtl">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-clear">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button ng-hide="state.current.name === 'app.login'"
        class="button button-icon button-clear ion-navicon"
        menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" class="whole-menu">
    <ion-content class="driver-menu">

      <ion-list class="menu-categories">
<!--  <ion-item menu-close ng-click="login()">
          Login
      </ion-item> -->

        <ion-item menu-close href="#/app/today">

        <i class="icon ion-clock"></i>
          Bookings
        </ion-item>

        <!--OWNER EDITION ONLY -->
        <!-- inject UserService n chain function found in UserService.js line: 62 -->
        <ion-item menu-close href="#/app/easyBook" ng-if="UserService.isAdmin()">
          <i class="ion-android-add-circle"></i>
            EasyBook
          </ion-item>
        <!-- update the sideMenuCtl controller to include checkCurrentTrip function controller.js line 22 -->
        <ion-item menu-close ng-click="checkCurrentTrip()" >
          <i class="icon ion-model-s"></i>
          Current Trip
        </ion-item>

        <ion-item menu-close href="#/app/calendar">
        <i class="icon ion-calendar"></i>
          Calendar
        </ion-item>

        <ion-item menu-close href="#/app/earnings-stats-day">
        <i class="ion-stats-bars"></i>
          Earnings & Stats
        </ion-item>        

        <ion-item menu-close href="#/app/profile">
        <i class="icon ion-person"></i>
          Profile
        </ion-item>

        <ion-item menu-close href="#/app/settings">
        <i class="icon ion-gear-b"></i>
          Settings
        </ion-item>

<!-- update the sideMenuCtl controller to include logout function controller.js line 19 / function from loginService.js -->
        <ion-item menu-close>
        <i class="ion-log-out" ng-click="logout()"></i>
          Logout
          <div>{{UserService.first_name + " " + UserService.last_name}}</div>
          <!-- <img ng-src="{{UserService.img}}"> -->

          <img class="user-avatar" ng-src="http://dev.afourc.ml/img/users/ABELdriver.png">
        </ion-item>

      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
