<ion-view view-title="Driver Profile">
  <ion-content>

    <div class="list card profile-card">
      <div class="item item-thumbnail-left">
        <img class="profile-pic" src="">
      </div>
    </div>



    <ion-list class="list-position profile-list">

      <ion-item class="items-bg-profile">
        <i class="ion-person ionicIcons"></i>
        <span class="profile-fonts">NAME</span>
        <div>{{user.Fullname}}</div>
      </ion-item>

      <ion-item class="items-bg-profile">
        <i class="ion-email ionicIcons"></i>
        <span class="profile-fonts">EMAIL</span>
        <div>{{user.email}}</div>
      </ion-item>

      <ion-item class="items-bg-profile">
        <i class="ion-iphone ionicIcons"></i>
        <span class="profile-fonts">PHONE</span>
        <div>{{user.phone}}</div>
      </ion-item>

      <ion-item class="items-bg-profile">
        <i class="ion-location ionicIcons"></i>
        <span class="profile-fonts">ADDRESS</span>
        <div>{{user.address_number}} {{user.address}} {{user.address_code_postal}}</div>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
