<ion-view view-title="Settings">
  <ion-content>

      
<ul class="list settings-list" >

     <li class="item item-toggle">
         Notifications
         <label class="toggle toggle-positive">
             <input type="checkbox">
             <div class="track">
                 <div class="handle"></div>
             </div>
         </label>
     </li>

<!--      <li class="item item-toggle">
         Available
         <label class="toggle toggle-positive">
             <input type="checkbox">
             <div class="track">
                 <div class="handle"></div>
             </div>
         </label>
     </li>

     <li class="item item-toggle">
         Concierge
         <label class="toggle toggle-positive">
             <input type="checkbox">
             <div class="track">
                 <div class="handle"></div>
             </div>
         </label>
     </li> -->
     
 </ul>


  </ion-content>
</ion-view>