8<ion-view view-title="BOOKINGS">
  <ion-content>

    <h3 class="dayOftheWeek">{{dayofWeek}}</h3>
    <h4 class="date">{{month}}{{date | date:' dd, yyyy'}}</h4>


      <div class="row responsive-sm">
        <div class="col col-50" >
          <div class="today-client-bubble" scroll="false">
            <img class="bubble" src="img/todayscreenBubble.png" alt="">
          </div>
        </div>
      </div>

      <div class="row responsive-sm">
        <div class="col col-50" >
          <div class="daily-count">{{dailyPassengers}}</div>
        </div>
      </div>

    <ion-list class="list-position">

      <ion-item  class="item-avatar items-bg"
                 ng-repeat="($index, booking) in bookings">
        <img id={{$index}} value={{booking[1][0].first_name}} {{booking[1][0].last_name}}
             class="icon-man" src="img/icon-man-div.png" alt=""ng-click="tripInfo()">

          <div class="passenger-info">

 <!-- DISPLAYS BASED ON IF IT IS AN EVENT FROM GOOGLE CALENDAR OR BOOKINGS FROM THE DB -->

            <text ng-if='booking.summary'>
              <h4 class="passenger-name">
                {{booking.summary}}
              </h4>
              <p class="passenger-details">
                <b>
                  START: </b>{{booking.start.date}}</br>
                <b>
                  END: </b>{{booking.end.date}}</br>
                <b>
                  LOCATION: </b>{{booking.location}}</br>
              </p>
            </text>

            <text ng-if='booking[0].driver_id'>
              <h4 class="passenger-name">
                {{booking[1][0].first_name}} {{booking[1][0].last_name}}
              </h4>
              <p class="passenger-details">
                  TIME: </b>{{booking[0].driver_departing_time}}</br>
                <b>
                  PICKUP: </b>{{booking[0].departing_address}}</br>
                <b>
                  DEST: </b>{{booking[0].arrival_address }}</br>
                <b>
                  CAR: </b>{{booking[2][0].brand}} {{booking[2][0].model}}</br>
                <!-- <b>CAR: </b>{{bookingsCars.brand + " " + bookingsCars.model}}</br> -->
            </text>
  <!--                  END                                                     -->
          </div>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>



