<ion-view view-title="TODAY">
  <ion-content>

    <h3 class="dayOftheWeek">{{dayofWeek}}</h3>
      
      <div class="row responsive-sm">
        
        <div class="col col-50" >
          
          <div class="today-client-bubble" scroll="false">

            <img class="bubble" src="/img/todayscreenBubble.png" alt="">
          
          </div>
          
        </div>
       
       </div>

        <div class="row responsive-sm">
          <div class="col col-50" >
            <div class="daily-count">{{dailyPassengers}}</div> 
          </div> 
       </div> 

       


    <ion-list class="list-position"> 

      <ion-item  class="item-avatar items-bg"
                 ng-repeat="booking in today">
        <img id={{booking.id}} 
             class="icon-man" src="/img/icon-man-div.png" alt=""ng-click="tripInfo()">
          <div class="passenger-info">
            <h4 class="passenger-name">
              {{customerNames}}</h4>

            <p class="passenger-details">
              {{booking.arrival_date | date:"MM/dd/yyyy @ h:mma"}}</p>
          </div> 
      </ion-item> 
    
    </ion-list>

</ion-content>  
</ion-view>



