/* Empty. Add your own CSS if you like */
.pane{

background-image: url("/img/screenbgtemplate.png");


}

.temp{

text-align: center;
background: none;

}

/*************************/
/*L O G I N  - S T A T E*/

.driver-logo{

text-align: center;

}

div.input-fields{
 margin-top: 25%

}

#sign-in-btn {
border: none;
background-color: #4d5b7e !important;
border-radius: 85px !important;
margin-top: 8%;

}

#signIn-psw-inputs{
color: white;
border: none;
border-radius: 85px !important;
background-color: #39383d !important;
}

.psw-input{
border-radius: 85px;

}

/*ANGULAR FORM VALUDATION RED for invalid GREEN for Valid*/
input.ng-touched.ng-invalid {
  border-radius: 85px;
  border: 1px solid #980000;
  margin-right: 0%;
  margin-left: -4%;

}

input.ng-touched.ng-valid {
  border-radius: 85px;
  border: 1px solid #009900;
  margin-right: 0%;
  margin-left: -4%;

}

.whole-menu{

background-image: url("/img/driversidemenu.png");
width: 100%;
height: 100%;
}

.driver-menu .list{
/*background-color: transparent !important;*/
margin-top: 60%;
margin-left: 15%;

}

.item {
  color: white;
  border: none;
  background-color: transparent !important;
  padding-top: 0%;
  /*position: static;*/

/*replaced from MAIN IONIC SCSS FILE #6020 (used to by white)*/
}

.menu-categories{

/*margin-top: 60%;
margin-left: 15%;*/


}




.trip-modal{

  background-color: black;
  opacity: .90;
  border-bottom: 1px;

}

#modal-bar{
background-color: black;
opacity: 1;  
}

#tripditz1{
background-color: black;

}


p.modal-text {
font-size: 0.70em;
text-align: center;
color: white;
font-weight: 700;  
}

h3.title{
color: white;
font-size: 2.0em;
font-variant: small-caps;


}
/**************************/
/*T O D A Y SCREEN STYLES*/

.dayOftheWeek {

  text-align: center;
  color: white;
  font-size: 2.5em;
  font-weight: 200;  

}


.today-client-bubble {

  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
          align-items: center;
  -webkit-align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-direction: column;
}

.bubble {

  height: 35%;
  width: 35%;
}

/*this number is generated from the BookingsController.js
$scope.dailyPassengers = BookingsService.bookings.length;*/

div.daily-count {
font-size: 4.25em;
color: white;
text-align: center;
margin-top: -25%;
/*margin-left: 44%;*/
/*margin-bottom: 29%;*/


}



/*should include passenger names and times for trips*/
.list-position {
  position: absolute;
  top: 50%;
  width: 100%;

}

/*ion items class rows with no BG*/
.items-bg {

background: transparent;
border-top: none;
border-bottom-style:outset;
border-bottom:1px solid grey;

}

/*later on we can pass photos here instead of icons*/
.icon-man {

width: 4.5em;

}

.passenger-info{
padding-top:5%;

}

h4.passenger-name {
  
font-size: 1.15em;
color: white;
font-weight: 700;

}

p.passenger-details {

  color: white;
  font-weight: 300;

}

.input-fields {
  
border-radius: 50%;
margin-top: 85%;

}

input.input-color {
  color: white;

}


.current-trip-details {
color: white;
background-color: black;
height: 25%;
width: 100%;

}


.ionicIcons{
font-size: 2em;

}

.trip-buttons{
text-align: center;
margin-top: 20%;

}

.trip-text{
text-align: center;
font-variant: small-caps;
font-weight: 700;
margin-top: 5%;

}
/*********************/
/*S E T T I N G S*/

li.item {
  padding-top: 2.5%;
  border-bottom:1px solid grey;

}

ul.list{

margin-top: 50%;  

}

/*********************/
/*M A P  - S T A T E*/

map {
  display: inline-block;
  float: right;

  text-align: center;
  width: 100%;
  height: 100%;
}
.scroll {
  height: 80%;
}

